* {
  box-sizing: border-box;
}

body {
  color: #212121;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  /* background-color: salmon; */
  width: 1240px;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.img_box {
  width: 400px;
  height: 240px;
  background:  no-repeat 50% 50% / 100%;
  transition: all 400ms;
  border-radius: 4px;
}

.img_box:hover {
  cursor: pointer;
  background-size: 120%;
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.light_box{
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 600px;
  background: white;
  display: none;
  padding: 60px 10px 10px 10px;
  z-index: 200;

  animation: fadein 200ms ease-out forwards;
}

.light_box__img {
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50% / cover;
  position: relative;
}


.light_box__index {
  position: absolute;
  height: 40px;
  top: 10px;
  left: 10px;
  font-size: 20px;
  line-height: 40px;
  font-weight: 600;
}

.light_box__left_btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.2);;
  width: 50px;
  height: 50px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 16px;
}

.light_box__right_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.2);;
  width: 50px;
  height: 50px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 16px;
}

.arrow_mark{
  color: #fff;
  transition: all 100ms;
}

.light_box__close:hover,
.light_box__left_btn:hover,
.light_box__right_btn:hover {
  cursor: pointer;
  font-size: 24px;
  
}

.light_box__close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ece9e9;
  font-size: 16px;
  transition: all 100ms;
}

.close_mark {
  transition: all 100ms;
}

.dark_filtering {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 100;
  transition: all 400ms;
}
